.ipynb_checkpoints 
__pycache__/
POETdataset/
MNIST-data/
weights/
features/
soft_attention_model/soft_attention_features*
*.h5
*.jpg
*.png
features/
soft_attention_model/soft_attention_images*
checkpoint*
*.pkl
*.npy
*.txt
